i {
  color: rgba(0, 0, 0, 0.719);
  cursor: pointer;
  font-size: 1.1rem;
}

.burger {
  font-size: 1.2rem;
}

.youtubeLogo {
  font-size: 1.4rem;
  vertical-align: -2px;
  color: red;
}

.menuIcons {
  width: 2.6rem;
}
