i {
  color: $color-grey;
  font-size: $l;
  cursor: pointer;
}

.burger {
  font-size: $xl;
}

.youtubeLogo {
  font-size: $xxl;
  vertical-align: -2px;
  color: $color-red-secondary;
}

.menuIcons {
  width: 2.6rem;
}

.searchIcon-firstcover {
  cursor: pointer;
  color: $color-grey;
}

.playIcon {
  margin: 0 0.8rem 0 2rem;
  font-size: $s;
  color: $color-grey;
}
