.logoStyle {
  font-weight: 100;
  font-size: 0.6rem;
  letter-spacing: -1px;
  vertical-align: 8px;
  color: rgba(0, 0, 0, 0.781);
}

::placeholder {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.menu-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: grey;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0 0 1.5rem;
}
