.logoStyle {
  font-size: $xxs;
  font-weight: $extra-light;
  letter-spacing: -1px;
  vertical-align: 8px;
  color: $color-grey;
}

::placeholder {
  padding-left: 0.5rem;
  font-size: $m;
}

.menu-heading {
  padding: 1rem 0 0 1.5rem;
  font-size: $m;
  font-weight: $medium;
  font-family: "Roboto Condensed", sans-serif;
  color: $color-grey;
}

.cover-heading {
  margin: 0 1rem;
  width: 65rem;
  font-weight: $light;
}

.sub-header {
  margin: 0 1rem;
  width: 65rem;
  font-size: $s;
  color: $color-grey;
}

.video-heading {
  padding: 0.8rem 0 0.5rem 0;
  font-size: $m;
  font-weight: $bold;
  cursor: pointer;

  &-span {
    font-size: $s;
    color: $color-grey;
  }
}

.description-heading {
  font-size: $s;
  cursor: pointer;
}

.description {
  margin-top: 5px;
  font-size: $xs;
  cursor: pointer;
  color: $color-grey;

  &-sub {
    margin-top: 1px;
    font-size: $xs;
    cursor: pointer;
    color: $color-grey;
  }
}

.aside-heading {
  margin-bottom: 1.3rem;
  font-size: $m;
  font-weight: $bold;
  font-family: "Roboto Condensed", sans-serif;
  color: $color-grey;
}

.aside-chanel {
  margin-left: 0.5rem;
  font-size: $xs;
  font-weight: $bold;
}
