.logoStyle {
  font-weight: 100;
  font-size: 0.6rem;
  letter-spacing: -1px;
  vertical-align: 8px;
  color: rgba(0, 0, 0, 0.781);
}

::placeholder {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.menu-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: darkgrey;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0 0 1.5rem;
}

.cover-heading {
  margin: 0 1rem;
  font-weight: 400;
  width: 65rem;
}

.sub-header {
  width: 65rem;
  margin: 0 1rem;
  font-size: 0.9rem;
  color: darkgrey;
}
