.navigation {
  height: 3.5rem;
  padding: 0 1rem;
  @include u-flex-between;

  &__left {
    width: 13rem;
    @include u-flex-align;

    &--hamburger {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      @include u-flex-center;
    }

    &--logo {
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  &__center {
    @include u-flex-align;

    &--searchBar {
      height: 2rem;
      width: 36rem;
    }
  }

  &__right {
    margin-left: 8rem;
    height: 2.5rem;
    width: 12rem;
    @include u-flex-between;

    &--avatar {
      margin: 0 1rem 0 0.5rem;
      @include u-flex-center;
      font-size: 1.3rem;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      color: white;
      background-color: #f24484;
      border-radius: 50%;
    }
  }
}

.main-content {
  display: flex;
}

.guide-section {
  width: 13vw;

  &__menu {
    &--items {
      padding: 0.8rem 0.7rem 0.8rem 1.5rem;
      font-size: 0.9rem;
      @include u-flex-align;
      cursor: pointer;

      &:nth-child(3) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.336);
      }

      &:nth-child(7) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.336);
      }

      &:hover {
        background-color: #eee;
      }
    }
  }

  &__abonnement {
    &--items {
      padding: 0.8rem 0.7rem 0.8rem 1.5rem;
      font-size: 0.9rem;
      @include u-flex-align;
      cursor: pointer;

      &:nth-child(5) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.336);
      }

      &:hover {
        background-color: #eee;
      }
    }
  }

  &__autres {
    &--items {
      padding: 0.8rem 0.7rem 0.8rem 1.5rem;
      font-size: 0.9rem;
      @include u-flex-align;
      cursor: pointer;

      &:nth-child(6) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.336);
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.first-cover {
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0.5rem 3.1rem;
    padding: 0 6.7rem 4px;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    margin: 0 11rem;

    &--items {
      margin: 0 1.8rem;
      font-size: 1rem;
      font-weight: 600;
      color: grey;

      &:nth-child(1) {
        color: rgba(0, 0, 0, 0.767);
        border-bottom: solid 2px rgba(0, 0, 0, 0.767);
      }
    }

    &--search {
      margin-left: 2rem;
    }
  }
}
